#wrapper {
	position: relative;
	overflow: hidden;
}

.container {
	max-width: rem-calc(1000px);
	margin: 0 auto;
	padding: rem-calc(0 20px);
}

// .custom-file-upload {
//   border: 1px solid #ccc;
//   display: inline-block;
//   padding: 6px 12px;
//   cursor: pointer;
// }

//css for login
.login__container,
.register__container {
	background: $white;
	border-radius: 3px;
	padding: rem-calc(20px);
	margin-bottom: rem-calc(40px);
}

.account__section {
	font: #{rem-calc(16px)}/1 $base-font-sans-serif;
	text-align: center;

	h1,
	h2 {
		margin-bottom: rem-calc(20px);
	} 

	.account__type {
		display: flex;
		justify-content: space-between;
		gap: rem-calc(12px);
		margin-bottom: rem-calc(20px);
	}

	.account__candidate,
	.account__employer {
		position: relative;
		// display: block;
		background: $light-blue;
		margin-top: rem-calc(20px);
		width: 100%;
		padding: rem-calc(30px 10px 20px);
		border-radius: 6px;

		span {
			font-size: rem-calc(50px);
			position: absolute;
			top: rem-calc(-28px);
			right: 0;
			left: 0;
		}
	}

	.mytabs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;

		@include media('>=tablet') {
			flex-direction: row;
		}

		label {
			@include animate(transition .3s ease-in-out);
			font-weight: bold;
			padding: rem-calc(12px);
			// margin-right: rem-calc(6px);
			// border-bottom: 1px solid $primary-color;
			transition: .3s ease-in-out;
			border-radius: 6px;

			@include media('>=tablet') {
				// border-right: 1px solid $primary-color;
				// border-bottom: 1px transparent;
			}
		}
	}

	[type="radio"] {
		display: none;
	}

	[type="radio"]:checked + label + .tab {
		@include animate(transition .3s ease-in-out);
		display: block;
		transition: .3s ease-in-out;
	}

	[type="radio"]:checked + label {
		background: $hover-color;
	}

	.tab {
		width: 100%;
		padding: rem-calc(20px);
		order: 1;
		display: none;

		li {
			list-style: none;
		}
	}

	.form__group {
		@include media('>=tablet') {
			width: 50%;
			margin: 0 auto;
		}

		label {
			visibility: hidden;
			opacity: 0;
			position: absolute;
		}
	}

	.form__holder {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem-calc(20px);

		@include media('>=tablet') {
			width: 50%;
			margin: 0 auto #{rem-calc(20px)};
		}

		.checkbox {
			padding: 0;
		}
	}

	a {
		text-decoration: none;
		color: $link-color;

		&:hover {
			@include animate(color transition .3s ease-in-out);
			color: $hover-color;
			transition: .3s ease-in-out;
		}
	}

	.btn__block {
		padding: rem-calc(0 12px);
		margin-bottom: rem-calc(20px);

		.text {
			display: block;
		}
	}


}

//css for register 
.account__section {
	.mytabs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-around;

		@include media('>=tablet') {
			flex-direction: row;
		}

		label {
			@include animate(transition .3s ease-in-out);
			font-weight: bold;
			padding: rem-calc(12px);
			// margin-right: rem-calc(6px);
			// border-bottom: 1px solid $primary-color;
			transition: .3s ease-in-out;
			border-radius: 6px;

			@include media('>=tablet') {
				// border-right: 1px solid $primary-color;
				// border-bottom: 1px transparent;
			}
		}
	}

	[type="radio"] {
		display: none;
	}

	[type="radio"]:checked + label + .tab {
		@include animate(transition .3s ease-in-out);
		display: block;
		transition: .3s ease-in-out;
	}

	[type="radio"]:checked + label {
		background: $hover-color;
	}

	.tab {
		width: 100%;
		padding: rem-calc(20px);
		order: 1;
		display: none;

		li {
			list-style: none;
		}
	}
}

//css for homepage
.sec-1 {
	margin-bottom: rem-calc(40px);

	@include media('>=tablet') {
		margin-bottom: rem-calc(60px);
	}

	.content {
		display: block;
		margin-bottom: rem-calc(14px);
		// background: $light-blue;
		background: $lighter-blue;
		border-radius: 6px;


		@include media('>=tablet') {
			display: flex;
		}
	}

	.content__info,
	.content__image {
		@include size(100%);
		padding: rem-calc(20px);
		text-align: center;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media('>=phone') {
			height: rem-calc(380px);
		}

		@include media('>=tablet') {
			height: rem-calc(360px);
		}

		img {
			max-width: 100%;
			max-height: 100%;
			// height: 240px;
			vertical-align: top;
			object-fit: cover;
			border-radius: 6px;
		}
	}

	.content__info {
		flex-direction: column;
	}

	.content__image {
	}

	a {
		text-decoration: none;
		padding: rem-calc(10px);
		color: $white;
		background: $button-color;
		border-radius: 10px;
		display: inline-block;
		vertical-align: middle;

		&:hover {
			@include animate(transition 0.3s ease-in-out);
			background: $hover-color;
			transition: 0.3s ease-in-out;
		}
	}
}

//for section 2 css
.sec-2 {
	margin-bottom: rem-calc(40px);

	@include media('>=tablet') {
		margin-bottom: rem-calc(60px);
		display: flex;
		gap: rem-calc(20px);
	}

	.testimonials {
		box-shadow: inset 0 1px 0 0 $white, 2px 5px 8px $secondary-color;
		background: $green;
		margin: rem-calc(0 0 20px 0);
		border-radius: 6px;
		padding: rem-calc(20px);
		width: 100%;

		@include media('>=tablet') {
			width: 33.33%;
		}		
		q {
			text-align: justify;
			z-index: 2;

			&:before{
				content: '\201C';
				font-size: rem-calc(60px);
				position: absolute;
				margin-top: rem-calc(-10px);
				z-index: 1;
				color: $primary-color;
			}
		}
	}

	img {
		@include size(#{rem-calc(80px)});
		object-fit: cover;
		border-radius: 6px;
		margin-bottom: rem-calc(6px);
	}

	h3 {
		margin-bottom: rem-calc(6px);
	}

	strong {
		display: block;
		margin-bottom: rem-calc(6px);
	}

	p {
		text-align: justify;
	}
}

//for section 3 newsleeter css
.sec-3 {
	text-align: center;
	margin-bottom: rem-calc(40px);

	@include media('>=tablet') {
		margin-bottom: rem-calc(60px);
	}

	label {
		display: none;
	}

	.newsletter {
		@include media('>=tablet') {
			width: 50%;
			margin: 0 auto;
		}
	}
}

//css for profile page

.profile__candidate, 
.profile__employer {
	background: $white;
	padding: rem-calc(20px);
	border-radius: 3px;
	margin-bottom: rem-calc(40px);
}

.sec__profile-1 {
	position: relative;
	height: rem-calc(280px);
	margin-bottom: rem-calc(40px);
	overflow: hidden;

	@include media('>=tablet') {
		height: rem-calc(420px);
		margin-bottom: rem-calc(60px);
	}

	.cover__image {
		position: relative;
		top: 0;
		bottom: rem-calc(40px);
		overflow: hidden;
		height: rem-calc(200px);

		@include media('>=tablet') {
			height: rem-calc(320px);
		}

		img {
			max-width: 100%;
			width: 100%;
			object-fit: cover;
			height: rem-calc(200px);
			border-radius: 6px;

			@include media('>=tablet') {
				height: rem-calc(320px);
			}
		}
	}

	.editor {
		position: absolute;
		top: 3px;
		right: 0;

		span {
			border: 1px solid $primary-color;
			padding: rem-calc(3px);
			cursor: pointer;

			&:hover {
				@include animate(color backgroung transition 0.3s ease-in-out);
				transition: 0.3s ease-in-out;
				background: $primary-color;
				color: $white;
			}
		}
	}

	.profile__image {
		// @include size(30%);
		position: absolute;
		bottom: 20%;
		left: 10%;

		@include media('>=tablet') {
			@include media('>=tablet') {
				// @include size(15%);
			}
		}

		img {
			@include size(#{rem-calc(100px)});
			border-radius: 50%;
			border: 2px solid $black;

			@include media('>=tablet') {
				@include size(#{rem-calc(150px)});
			}
		}		

		span {
			position: absolute;
			top: 10%;
			right: 10%;
			border: 1px solid $primary-color;
			padding: 3px;

			@include media('>=tablet') {
				top: 60%;
				right: 60%;
			}
		}
	}
}

.sec__profile-2 {
	position: relative;
	margin-bottom: rem-calc(40px);

	@include media('>=tablet') {
		margin-bottom: rem-calc(60px);
	}

	.profile-content {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem-calc(20px);
	}

	.profile-info {
		width: 80%;
	}

	dl {
		// font-size: rem-calc(16px);

		span {
			margin-right: rem-calc(6px);
			vertical-align: bottom;
		}
	}
	
	a {
		text-decoration: none;
		color: $link-color;
	}

	.editor {
		flex-shrink: 0;

		span {
			border: 1px solid $primary-color;
			padding: rem-calc(3px);
			cursor: pointer;

			&:hover {
				@include animate(color backgroung transition 0.3s ease-in-out);
				transition: 0.3s ease-in-out;
				background: $primary-color;
				color: $white;
			}
		}
	}

	dd,
	dt {
		margin: rem-calc(0 0 6px 6px);
	}
}

//css for job page
.job__container {
	background: $white;
	padding: rem-calc(20px);
	border-radius: 3px;
	margin-bottom: rem-calc(40px);
}

.section__job {

	.job__button {
		width: rem-calc(200px);
	}
}

.section__job-1 {
	margin-bottom: rem-calc(40px);

	.job__catagories {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	ul {
		padding-left: rem-calc(20px);
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: $link-color;
	}
}

.section__job-2 {
	margin-bottom: rem-calc(40px);

	h1 {
		margin-bottom: rem-calc(20px);
	}

	.row {
		@include media('>=tablet') {
			display: flex;
			justify-content: space-between;
		}
	}

	.col-1,
	.col-2,
	.col-3 {
		margin-bottom: rem-calc(12px);

		@include media('>=tablet') {
			width: 30%;
		}
	}

	.col-1,
	.col-2 {
		.form__group {
			label {
				display: none;
			}
		}
	}

	.dropdown {

		label {
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}
	}

	a {
		position: relative;
		display: block;
		vertical-align: middle;
		color: $white;
		text-decoration: none;
		padding: rem-calc(12px);
		background: $input-color;
		transition: 0.3s ease-in-out;
		border: 1px solid $light-blue;
		border-radius: 8px;
		outline: 1px solid transparent;
	}

	.icon-down-arrow {
		font-size: rem-calc(10px);
		line-height: 1;
		position: absolute;
		top: 45%;
		right: rem-calc(12px);
	}

	ul {
		padding-left: 0;
		margin-top: 0;
	}

	.dropdown-menu__job-type,
	.dropdown-menu__job-location {
		visibility: hidden;
		opacity: 0;
		position: absolute;
	} 

	li {
		list-style: none;
	}

	.selected {
		display: none;
	}

	.form__group {
		display: flex;

		.btn__holder {
			flex-shrink: 0;
		}
	}
}

.section__job-3 {
	margin-bottom: rem-calc(40px);

	@include media('>=tablet') {
		display: flex;
		justify-content: space-between;
	}

	.job__content {
		margin-bottom: rem-calc(20px);
		width: 30%;

		@include media('>=tablet') {
			width: 65%;
		}
	}

	.job__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem-calc(12px);
	}

	.job-info {
		@include size(rem-calc(300px));
		padding: rem-calc(12px);
		border-radius: 6px;
		border: 1px solid $light-blue;
		flex-shrink: 0.1;
		background: $alice-blue;

		img {
			@include size(rem-calc(80px));
			margin-bottom: rem-calc(8px);
			border-radius: 6px;
		}

		h3 {
			margin-bottom: rem-calc(8px);
		}

		p {
			margin-bottom: rem-calc(8px);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		dd {
			margin: rem-calc(0 0 8px 0);

			span {
				margin-right: rem-calc(8px);
			}
		}

		.btn__holder {
			margin-bottom: rem-calc(8px);
			display: flex;
			justify-content: space-around;
			align-items: center;

			a {
				text-decoration: none;
				color: $link-color;

				&:hover {
					@include animate(opacity transition .3s ease-in-out);
					opacity: 0.6;
					transition: .3s ease-in-out;
				}
			}
		}
	}

	.aside__content-info {
		width: 100%;

		@include media('>=tablet') {
			width: 30%;
		}
	}

	.job__top__content {
		margin-bottom: rem-calc(20px);

		@include media('>=tablet') {
			// width: 30%;
		}
	}

	.job__top__list {
		display: flex;
		flex-direction: column;
	}

	.job__top-info {
		display: flex;
		justify-content: space-between;
		border: 1px solid $light-blue;
		padding: rem-calc(12px);
		margin-bottom: rem-calc(8px);
		border-radius: 6px;
		background: $alice-blue;

		img {
			@include size(rem-calc(80px));
			margin-right: rem-calc(8px);
			border-radius: 6px;
		}

		h3 {
			margin-bottom: rem-calc(8px);
		}

		p {
			margin-bottom: rem-calc(8px);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}

//css for job details
.flex {
	display: block;
	@include media('>=tablet') {
		display: flex;
		justify-content: space-between;
	}

	.content-info{
		width: 100%;

		@include media('>=tablet') {
			width: 60%
		}
	}

	aside {
		width: 100%;

		@include media('>=tablet') {
			width: 30%;
		}
	}

	.job__top__list {
		display: flex;
		flex-direction: column;
	}

	.job__top-info {
		display: flex;
		justify-content: space-between;
		border: 1px solid $light-blue;
		padding: rem-calc(12px);
		margin-bottom: rem-calc(8px);
		border-radius: 6px;
		background: $alice-blue;

		img {
			@include size(rem-calc(80px));
			margin-right: rem-calc(8px);
			border-radius: 6px;
		}

		h3 {
			margin-bottom: rem-calc(8px);
		}

		p {
			margin-bottom: rem-calc(8px);
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}

	.job__action {
		display: none;
		border: 1px solid $light-blue;
		border-radius: 6px;
		padding: rem-calc(12px);
		margin-bottom: rem-calc(20px);

		@include media('>=tablet') {
			display: block;
		}

		h2 {
			margin-bottom: rem-calc(10px);
		}

		.btn__holder {
			display: flex;
			justify-content: space-between;
		}
	}
}

//css for job post
.section__job__post {
	margin-bottom: rem-calc(40px);
	.job__post-content {
		text-align: center;
	}

	.row {
		padding: rem-calc(20px);

		@include media('>=tablet') {
			width: 50%;
			margin: 0 auto;
		}

		.form__group {
			label {
				display: block;
				margin-bottom: rem-calc(12px);
			}
		}
	}

	.group__job-type {
		margin-bottom: rem-calc(12px);

		label {
			display: block;
			margin-bottom: rem-calc(12px);
		}

		select {
			@include size(100%, auto);
			@include animate(background color transition 0.3s ease-in-out);
			padding: rem-calc(12px);
			margin-bottom: rem-calc(15px);
			color: $white;
			background: $input-color;
			transition: 0.3s ease-in-out;
			border: 1px solid $light-blue;
			border-radius: 8px;
			outline: 1px solid transparent;
		}
	}

	em {
		display: block;
		margin-bottom: rem-calc(20px);
	}

	.btn__holder {
		text-align: center;
	}
}



//styling for manage.html page
.manage__container {
	background: $white;
	padding: rem-calc(20px);
	border-radius: 3px;
	margin-bottom: rem-calc(40px);
}

.status__section{
	.mytabs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		max-width: rem-calc(600px);
		margin: rem-calc(20px) auto;
		padding: rem-calc(20px);
		border: 1px solid $light-blue;
		border-radius: 6px;

		@include media('>=tablet') {
			flex-direction: row;
		}

		label {
			@include animate(transition .3s ease-in-out);
			font-weight: bold;
			padding: rem-calc(12px);
			// margin-right: rem-calc(6px);
			border-bottom: 1px solid $primary-color;
			transition: .3s ease-in-out;
			border-radius: 2px;

			@include media('>=tablet') {
				border-right: 1px solid $primary-color;
				border-bottom: 1px transparent;
			}
		}
	}

	[type="radio"] {
		display: none;
	}

	[type="radio"]:checked + label + .tab {
		@include animate(transition .3s ease-in-out);
		display: block;
		transition: .3s ease-in-out;
	}

	[type="radio"]:checked + label {
		background: $hover-color;
	}

	.tab {
		width: 100%;
		border-radius: 2px;
		padding: rem-calc(20px);
		order: 1;
		display: none;
	}

	ul, ol {
		padding-left: rem-calc(10px);
	}

	li {
		list-style: none;
	}
}

.manage__section {
	margin-bottom: rem-calc(40px);

	.manage {
		display: flex;
		flex-wrap: wrap;
	}

	.manage__list {
		padding: rem-calc(20px 12px 4px);
		margin: rem-calc(10px);
		width: 100%;
		border: 1px solid $light-blue;
		border-radius: 6px;
		text-align: center;
		text-decoration: none;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;

		&:hover {
			opacity: .6;
			transition: .3s ease-in-out;
		}

		@include media('>=tablet') {
			width: 30%;
		}
	}

	h2 {
		color: $link-color;
	}

	p {
		color: $primary-color;
	}
}

//css for seetings
.setting__container {
	background: $white;
	padding: rem-calc(20px);
	border-radius: 3px;
	margin-bottom: rem-calc(40px);
}

.section__setting {
	overflow: scroll;

	.mytabs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		max-width: rem-calc(600px);
		// padding: rem-calc(20px);
		position: relative;

		label {
			@include animate(transition .3s ease-in-out);
			font-weight: bold;
			padding: rem-calc(12px);
			// margin-right: rem-calc(6px);
			transition: .3s ease-in-out;
			width: rem-calc(100px);
			// border-bottom: 1px solid $primary-color;
			// border-right: 1px solid $primary-color;
			border: 1px solid $primary-color;
			border-right: 1px transparent;
			border-radius: 2px;

			@include media('>=tablet') {
				// border-right: 1px solid $primary-color;
				// border-bottom: 1px solid $primary-color;
			}

			@include media('>tablet') {
				width: rem-calc(200px);
			}
		}
	}

	[type="radio"] {
		display: none;
	}

	[type="radio"]:checked + label + .tab {
		@include animate(transition .3s ease-in-out);
		display: block;
		transition: .3s ease-in-out;
	}

	[type="radio"]:checked + label {
		background: $hover-color;
	}

	.tab-info {
		display: flex;
		justify-content: space-between;
	}

	.tab {
		padding: rem-calc(12px);
		order: 1;
		display: none;
		position: absolute;
		top: 0;
		left: 34%;

		@include media('>=tablet') {
			width: 60%;
			right: 0;
		}
	}

	ul, ol {
		padding-left: rem-calc(10px);
	}

	li {
		list-style: none;
	}
}



