asgiref==3.5.0
astroid==2.11.2
backports.zoneinfo==0.2.1
boto3==1.21.40
botocore==1.24.40
cachetools==5.0.0
cement==3.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cryptography==36.0.2
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.0.4
django-allauth==0.50.0
django-autoslug==1.9.8
django-cleanup==6.0.0
django-countries==7.3.2
django-crispy-forms==1.14.0
django-filter==21.1
django-heroku==0.3.1
django-pwa==1.0.10
django-rest-auth==0.9.5
django-rest-knox==4.2.0
django-storages==1.12.3
djangorestframework==3.13.1
docutils==0.18.1
future==0.18.2
google-api-core==2.7.2
google-auth==2.6.4
google-cloud-core==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
gTTS==2.2.4
gTTS-token==1.1.4
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
isort==5.10.1
jmespath==1.0.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
oauth2==1.9.0.post1
oauthlib==3.2.0
pathspec==0.9.0
protobuf==3.20.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.8
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
semantic-version==2.9.0
six==1.16.0
social-auth-core==4.2.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
typed-ast==1.5.2
typing_extensions==4.1.1
tzdata==2022.1
urllib3==1.26.9
wcwidth==0.2.5
whitenoise==6.0.0
wincertstore==0.2
wrapt==1.14.0
