{% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
  <main id="main">
    <div class="container">
      <section class="sec-1">
        <div class="content">
          <div class="content__info">
            <h1>A Platform to Recruit talent</h1>
            <p>
              Recruiting candidates is easier than ever with Find Me Job
              recruitment SaaS. Whether you work for a recruitment agency or in
              a human resources department, our cloud-based recruitment software
              is made for you. Start now!
            </p>
            <a  class="btn btn-primary btn-lg"
            href="{% url 'home' %}"
            role="button">Start Hiring Now &#8594;</a>
            
          </div>
          <div class="content__image">
            <img src="{% static 'images/recruitment.png' %}" alt="Requirement Platform" />
          </div>
        </div>
        <div class="content">
          <div class="content__image">
            <img
              src="{% static 'images/recruitment_works.png' %}"
              alt="Requirement Platform"
            />
          </div>
          <div class="content__info">
            <h1>Explore Our Requirement Software</h1>
            <p>
              Find Me Job was designed to simplify your hiring process and save
              you valuable time by helping you choose the right candidates,
              manage your talent pool, strengthen team collaboration, and hire
              top talent.
            </p>
            <a  class="btn btn-primary btn-lg"
            href="{% url 'home' %}"
            role="button">Explore Our System &#8594;</a>
          </div>
        </div>
        <div class="content">
          <div class="content__info">
            <h1>Application Tracking System</h1>
            <p>
              ATS streamlines the hiring process by helping recruiters create
              job postings, publishing them to company websites and job boards,
              screening applicants, tracking their status, storing their
              information, and simplifying the final steps of the hiring process
              when an offer is extended.
            </p>
          </div>
          <div class="content__image">
            <img src="{% static 'images/ats.png' %}" alt="Requirement Platform" />
          </div>
        </div>
        <div class="content">
          <div class="content__image">
            <img src="{% static 'images/automation.png' %}" alt="Requirement Platform" />
          </div>
          <div class="content__info">
            <h1>Automation</h1>
            <p>
              Recruitment process automation can help to lift productivity, get
              to the best candidates quicker, fill roles sooner and reduce
              hiring costs.
            </p>
          </div>
        </div>
      </section>
      <section class="sec-2">
        <blockquote class="testimonials">
          <img src="{% static 'images/profile1.jpg' %}" alt="Marina" />
          <h3>Marina larent</h3>
          <strong>Human Resource Manager</strong>
          <q>
            <pre></pre>
            I am using Find Me Job platform to find the best candidates. i am so
            impressed with the sevices of this platform i recommend my friend
            and relatives to check this system.</q
          >
        </blockquote>
        <blockquote class="testimonials">
          <img src="{% static 'images/profile2.jpg' %}" alt="Marina" />
          <h3>Marina larent</h3>
          <strong>Senior Talent Acquisition Manpower</strong>
          <q>
            <pre></pre>
            I was having problem with recruiting candidates but after using this
            platform i have save the time in recruiting process. All thanks to
            its automation system that filter best candidates for me.</q
          >
        </blockquote>
        <blockquote class="testimonials">
          <img src="{% static 'images/profile3.jpg' %}" alt="Marina" />
          <h3>Marina larent</h3>
          <strong>Director of MRINetwork Forbes</strong>
          <q>
            <pre></pre>
            Now I have use this Find Me Job platform, my company's growth is
            increasing more faster than it use to be. This platforms help to
            hire best candidates for my company.</q
          >
        </blockquote>
      </section>
      <section class="sec-3">
        <div class="newsletter">
          <h3>Sign up to Our Newsletter</h3>
          <form id="newsLetter" class="form__group" action="POST">
            <label for="emailId">Email Address</label>
            <input
              id="emailId"
              type="Email"
              name="email"
              placeholder="Enter Your Email Address"
            />
            <div class="btn__holder"><button type="submit">Submit</button></div>
          </form>
        </div>
      </section>
    </div>
  </main>
  
  {% endblock %}
</div>
