{% extends "users/layout.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %} <br /><br />
<style>
  .section__profile-edit {
    margin-bottom: 40px;
    background: #FFF;
    padding: 20px;
  }

  @media (min-width: 768px) {
    .form__profile {
      width: 50%;
      padding-left: 20px;
      /* margin: 0 auto; */
      /* max-width: 400px; */
    }

    .form-group {
      width: 50%;
    }

    .input__profile {
      width: 100%;
    }
    
    .btn__holder {
      text-align: center;
    }

    .input-choice {
      padding: 0.40rem !important;
      width: 100% !important;
    }
  }

  .form__profile {
    width: 100%;
    margin: 0 auto;
  }

  .input__profile {
    /* width: 100%;
    height: auto; */
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
      0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out,
      -webkit-transition 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
      0.3s 0.3s ease-in-out, ease-in-out 0.3s ease-in-out,
      -webkit-transition 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
      transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out,
      ease-in-out 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
      transition 0.3s ease-in-out, 0.3s 0.3s ease-in-out,
      ease-in-out 0.3s ease-in-out, -webkit-transition 0.3s ease-in-out;
    padding: 0.75rem;
    margin: 1rem 0 ;
    color: #fff;
    background: #05466d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border: 1px solid #39f;
    border-radius: 3px;
    outline: 1px solid transparent;
    /* width: 100%; */
  }

  .input__profile:focus {
    border-color: #0A0944;
  }

  .input-choice {
    padding: 0.40rem !important;
    width: 63%;
  }

  .btn__holder {
    margin-top: 10px;
    text-align: center;
  }

</style>
<div class="container">
  <section class="section__profile-edit">
    <div class="col">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3>
            <b>Edit Your Profile</b>
          </h3>
          <form class="form-signin form__profile" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form|crispy }}
            </fieldset>
            <div class="btn__holder form-group">
              <button class="btn btn-lg btn-primary btn-block" type="submit">
                Update</button><br /><br />
            </div>
          </form> 
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}