{% extends "users/layout.html" %} {% load static %} {% block content %}

<div class="container job__container">
  <section class="section__job-1">
    <h3>Job By Catagories</h3>
    <div class="job__catagories">
      <ul class="job__catagory">
        <h4>Banking Sector</h4>
        <li><a href="#">Finance Advisour</a></li>
        <li><a href="#">IBPS PO</a></li>
        <li><a href="#">Auditors</a></li>
        <li><a href="#">RBI Grade B</a></li>
        <li><a href="#">SBI PO</a></li>
      </ul>
      <ul class="job__catagory">
        <h4>Medical Sector</h4>
        <li><a href="#">Clinical analyst</a></li>
        <li><a href="#">Medical manager</a></li>
        <li><a href="#">Programmer analyst</a></li>
        <li><a href="#">Software engineer</a></li>
      </ul>
      <ul class="job__catagory">
        <h4>Military Sector</h4>
        <li><a href="#">Cyberwarfare engineer</a></li>
        <li><a href="#">Geospatial imaging officer</a></li>
        <li><a href="#">Intelligence specialist</a></li>
      </ul>
      <ul class="job__catagory">
        <h4>Industry Sector</h4>
        <li><a href="#">Ethical Hacker</a></li>
        <li><a href="#">Software Engineering</a></li>
        <li><a href="#">Network Administrator</a></li>
        <li><a href="#">Full stack Develop</a></li>
        <li><a href="#">Data Scientist</a></li>
      </ul>
    </div>
  </section>
  <section class="section__job-2">
    <h1>Search Jobs</h1>
    <form
      class="form-signin mt-4"
      action="{% url 'job-search-list' %}"
      method="get"
    >
      <div class="row job__search">
        <div class="col-1">
          <div class="form__group">
            <input
              name="p"
              type="text"
              class="form-control"
              placeholder="Enter Job Title, Skills, Type or Company"
            /><br />
          </div>
        </div>
        <div class="col-2">
          <div class="form__group">
            <input
              name="q"
              type="text"
              class="form-control"
              placeholder="Enter Job Location"
            /><br />
          </div>
        </div>
        <div class="col-3">
          <div class="form__group btn__holder">
            <button class="btn btn-lg btn-warning btn-block" type="submit">
              Search Jobs
            </button>
          </div>
        </div>
      </div>
    </form>
  </section>
  <hr my-2 />
  <style>
    .section__job-3 {
      display: block;
    }
    .show__job-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }

    .show__jobs {
      margin-bottom: 20px;
    }

    .job__list {
      display: block !important;
      width: 100%;
    }

    @media (min-width: 768px) {
      .job__list {
        display: block !important;
        width: 30%;
      }
    }

    .job__address,
    .job__company {
      margin-bottom: 8px;
    }

    .applyNow {
      margin-right: 12px;
      background: #EEB31B;
      padding: 6px;
      border-radius: 6px;
      color: #fff !important;
      border: 1px solid transparent;
    }

    .applyNow:hover {
      background: #fff;
      color: #EEB31B !important;
      border: 1px solid #EEB31B;
      opacity: 1 !important;
    }
  </style>
  <section class="section__job-3">
    {%if jobs %}
    <h2 class="show__jobs">Showing Jobs</h2>
    <div class="row show__job-list">
      {% for job in jobs %}
      <div class="job__list">
        <div class="card job-info">
          <h3>{{job.title}}</h3>
          <h4>({{job.job_type}})</h4>
          <p>{{job.description|truncatewords:30}}</p>
          <dt class="job__company">{{job.company}}</dt>
          <address class="job__address">
            <span class="icon-map"></span>{{job.location}}
          </address>
          <div class="btn__holder">
            <a
              class="btn__link applyNow"
              href="{% url 'apply-job' job.slug %}"
              >Apply Now</a
            >
            <a href="{% url 'job-detail' job.slug %}">View More</a>
          </div>
          <div class="card-footer">
            <em>Posted on {{job.date_posted|date:"F d, Y"}}</em>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="section__pagination">
    <div class="pagination">
      <span class="step-links">
        {% if jobs.has_previous %}
        <a
          class="btn btn-info"
          href="?page=1{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
          >&laquo; First</a
        >
        <a
          class="btn btn-danger"
          href="?page={{ jobs.previous_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
          >Prev</a
        >
        {% endif %}
        <span class="current">
          Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>
        {% if jobs.has_next %}
        <a
          class="btn btn-success"
          href="?page={{ jobs.next_page_number }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
          >Next</a
        >
        <a
          class="btn btn-primary"
          href="?page={{ jobs.paginator.num_pages }}{% if request.GET.p %}&p={{ request.GET.p }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
          >Last &raquo;</a
        >
        {% endif %}
      </span>
    </div>
  </section>
</div>
<br />

{% else %}
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">
          <b>No relevant jobs found for this search term!</b><br />
        </h5>
        <hr my-2 />
        <h5 class="card-title text-center"><b>Search instead for:</b><br /></h5>
        <form class="form-signin">
          <div class="form-group">
            <a
              class="btn btn-outline-primary mr-2 mt-2"
              href="/job/?p=software&q="
              >Software</a
            >
            <a
              class="btn btn-outline-info mr-2 mt-2"
              href="/job/?p=internship&q="
              >Internship</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=product+manager&q="
              >Product Manager</a
            >
            <a
              class="btn btn-outline-secondary mr-2 mt-2"
              href="/job/?p=python&q="
              >Python</a
            >
            <a class="btn btn-outline-dark mr-2 mt-2" href="/job/?p=web&q="
              >Web</a
            >
            <a
              class="btn btn-outline-danger mr-2 mt-2"
              href="/job/?p=android&q="
              >Android</a
            >
            <a
              class="btn btn-outline-success mr-2 mt-2"
              href="/job/?p=analyst&q="
              >Analyst</a
            >
            <a class="btn btn-outline-info mr-2 mt-2" href="/job/?p=sales&q="
              >Sales</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
