{% extends "users/layout.html" %} {% load static %} {% block content %}
<style>
  .section__candidate-details {
    margin-bottom: 40px;
    background: #fff;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col {
    border: 1px solid #39f;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 12px;
    width: 100%;
  }

  .card span a {
    text-decoration: none;
  }

  .card span a:hover {
    color: #EEB31B;
    transition: .3s ease-in-out;
  }

  dd {
    margin-left: 0;
    font-size: 11px;
    margin-bottom: 8px;
  }

  address {
    margin-bottom: 8px;
  }

  .link {
    color: #0E75B2;
    margin-bottom: 8px;
  }

  .text {
    margin-bottom: 8px;
  }

  @media (min-width: 768px) {
    dd {
      font-size: 14px;
    }

    .row {
      flex-direction: row;
      gap: 10px;
    }

    .col {
      width: 30%;
    }
  }

  .option {
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
  }

  .option a {
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
  }

  .btn-select {
    background: #0e75b2;
    color: #fff;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
  }

  .btn-select:hover{
    background: #fff;
    color: #0E75B2;
    border: 1px solid #0E75B2;
  }

  .btn-reject {
    background: rgb(240, 41, 41);
    color: #fff;
    border: 1px solid transparent;
    transition: .3s ease-in-out;
  }

  .btn-reject:hover {
    background: #fff;
    color:rgb(240, 41, 41);
    border: 1px solid rgb(240, 41, 41);
  }

</style>

<div class="container">
  <section class="section__candidate-details">
    <h3>
      <b>Most Relevant Candidates for {{job.title}} (Beta)</b>
    </h3>
  
    {% if relevant %}
    <div class="row">
      {% for profile, common in objects %}
      <div class="col">
        <div class="card">
          <span>
            <a href="{% url 'profile-view' profile.slug %}">
              {% if profile.full_name %}
              <h3>
                <b>{{profile.full_name}}</b>
              </h3>
              {% else %}
              <h3>
                <b>{{profile.user.username}}</b>
              </h3>
              {% endif %}
            </a>
            <dd>
              <a href="{{profile.user.email}}">{{profile.user.email}}</a> 
            </dd>
              <address>{% if profile.location %} {{profile.location}} {% else %}
                {{profile.country.name}} {% endif %}
              </address>
          </span>
          <div class="card-footer">
            <span>This candidate has <b style="color: #85F969;">{{ common }} </b>out of
              <b style="color: #0E75B2;">{{ job_skills }}</b> skills required for this
              job.</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% else %}
  <section class="section__candidate-details">
    <p>
      No relevant candidates found this job! Please check if your
      <a href="{% url 'add-job-detail' job.slug %}">job data</a> is complete and
      is following the instructions.
    </p>
  </section>
  {% endif %}
</div>
{% endblock content %}
